Projektowanie aplikacji internetowych/Laboratorium 6/dtd/rezerwacje.dtd

<!ENTITY % wycieczki SYSTEM "wycieczki.dtd">
%wycieczki;
<!ENTITY % uczestnicy SYSTEM "uczestnicy.dtd">
%uczestnicy;
<!ELEMENT rezerwacje(uczestnicy, wycieczki, rezerwacja+)>
<!ELEMENT naleznosci(rezerwacja+)>
<!ELEMENT rezerwacja (#PCDATA)>
<!ATTLIST rezerwacja pesel IDREF #REQUIRED>
<!ATTLIST rezerwacja nazwa_wycieczki IDREF #REQUIRED>